body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffdde1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    background: white;
    width: 90%;
    max-width: 350px;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* NUTRIAS */
.otters-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.otter {
    width: 60px;
    opacity: 0;
}

@keyframes popUp {
    0% {
        transform: translateY(40px) scale(0.2);
        opacity: 0;
    }
    80% {
        transform: translateY(-10px) scale(1.05);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
